{% extends 'base.html' %}

{% block content %}
    <div class="task">
        <h2>Заголовок задачи</h2>
    </div>
    <textarea id="title" name="title" rows="3">{{ todo.title }}</textarea> <span>LLM-заголовок: {{ todo.title_llm }}</span>
    <textarea id="details" name="details" rows="5">{{ todo.details }}</textarea>
    <button type="submit" onclick="extend({{ todo_id }})">Дополнить</button>
    <form style="display:inline;" class="form_inline" action="/todo/history/{{ todo.id }}" method="get">
        <input class="edit-btn" type="submit" value="История изменений">
    </form>
    <br>
    <br>
    <label for="completed">Выполнено?</label>
    <input id="completed" type="checkbox" name="completed" {% if todo.completed %}checked{% endif %}>
    <!-- <select id="fullname" name="fullname">
        {% for fullname in fullnames %}
            <option value="{{ fullname.value }}" {% if todo.fullname == fullname.value %} selected {% endif %}>
                {{ fullname.value }}</option>
        {% endfor %}
    </select> -->
    <div>
        Дубликаты по полю "details": <br>
        {% for other_id in ids_todos_hash_text %}
            <li><a href="/todo/edit/{{ other_id }}">{{ other_id }}</a></li>
        {% endfor %}
    </div>
    <br>
    <div>
        Дубликаты по прикреплённому файлу: <br>
        {% for other_id in ids_todos_hash_text_from_file %}
            <li><a href="/todo/edit/{{ other_id }}">{{ other_id }}</a></li>
        {% endfor %}
    </div>
    <div>
        <span style=>Владелец: {{ todo.fullname }}</span>
    </div>
    <div>
        <span style="color:green;">Дата создания: {{ todo.date_creation }}</span>
    </div>
    {% if todo.completed == True %}
        <span style="color:green;">Дата выполнения: {{ todo.date_completion }}</span>
    {% endif %}
    <button type="submit" onclick="edit({{ todo.id }})">Сохранить</button>
    {% if image == True %}
        <br>
        <img
                style="width:100%;"
                src="{{ picture_name }}"
                alt="Picture"/>
    {% endif %}
    <input placeholder="picture.png" type="file" id="file_input" name="file_input" accept=".png"
           style="margin-bottom: 10px">
    <button type="submit" onclick="load_image({{ todo.id }})">Загрузить картинку</button>
    <br>
    <input placeholder="file.txt" type="file" id="file_input_txt" name="file_input_txt" accept=".txt"
           style="margin-bottom: 10px">
    <button type="submit" onclick="load_txt({{ todo.id }})">Загрузить текстовый файл</button>
    <br>
    {% for other_id in other_todos_img %}
        <li><a href="/todo/edit/{{ other_id }}">{{ other_id }}</a></li>
    {% endfor %}
    <button type="submit" onclick="generate_image({{ todo.id }})">Сгенерировать</button>
    <br>
    <a href="/todo/list?type={{ todo.type }}">{{ todo.type }}</a>
    
    <div class="container">
    <div class="column">
      <h2>Реферирование spaCy</h2>
      <p>{{ todo.summarization_stat }}</p>
    </div>
    <div class="column">
      <h2>Реферирование LLM</h2>
      <p></p>
    </div>
  </div>
  
{% endblock content %}
