{% extends 'base.html' %}

{% block content %}

<div class="index_form" id="content">
       <h3>Генерация задач</h3>
       <input type="text" id="todo_count">
       <input type="button" value="Сгенерировать" onclick="generation(document.getElementById('todo_count').value)"
              class="generate">
</div>
<div class="index_form" id="content">
       <h3>Генерация 20 задач</h3>
       <input type="button" value="Сгенерировать" onclick="generation_20()"
              class="generate">
</div>
<div class="index_form" id="content">
       <h3>Генерация для демонстрации работы кластеризации</h3>
       <input type="button" value="Сгенерировать" onclick="generate_for_cluster()"
              class="generate">
</div>
{% endblock content %}