.title {
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-container {
    flex-grow: 1;
}

.title span {
    font-weight: bold;
}

.completed-btn {
    border-radius: 10px;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.completed-btn.completed {
    background-color: red;
}

.completed-btn:not(.completed) {
    background-color: chartreuse;
}

.edit-btn,
.delete-btn,
.delete-all-btn {
    border-radius: 10px;
    margin-left: 10px;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.edit-btn {
    margin-left: 5px;
    background-color: #3498db;
    color: #fff;
}

.delete-btn {
    background-color: #e74c3c;
    color: #fff;
}

.submit_filter_todo{
    background-color: #3498db;
    color: #fff;
    padding: 12px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
}

.filter_todo {
    width: 19%;
    margin-left: 20px;
    white-space: nowrap;
    padding: 12px;
}

.delete-all-btn {
    background-color: #e74c3c;
    color: #fff;
    padding: 12px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    float: right;
    margin-right: 20px;
}

.delete-range-end,
.delete-range-start {
    margin-left: 20px;
}

.delete-range-btn {
    width: 458px;
    margin-left: 20px;
}

