body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

main {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 57px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.hrefs_to_other_pages {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.hrefs_to_other_pages a {
    text-decoration: none;
    color: #fff;
}

.hrefs_to_other_pages li {
    margin: 0;
}