.title {
        border: 1px solid #ccc;
        border-radius: 30px;
        padding: 10px;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .text-container {
        flex-grow: 1;
    }

    .title span {
        font-weight: bold;
    }

    .completed-btn {
        border-radius: 10px;
        /*margin-left: 10px;*/
        padding: 10px;
        border: none;
        cursor: pointer;
    }

    .completed-btn.completed {
        background-color: red;
    }

    .completed-btn:not(.completed) {
        background-color: chartreuse;
    }

    .edit-btn,
    .delete-btn {
        border-radius: 10px;
        margin-left: 10px;
        padding: 10px;
        border: none;
        cursor: pointer;
    }

    .edit-btn {
        background-color: #3498db;
        color: #fff;
    }

    .delete-btn {
        background-color: #e74c3c;
        color: #fff;
    }


