<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo App</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/footer.css') }}">
</head>
<body>
    <main>
        <h1>ToDo App</h1>
        <br>
        {% block content %}

        {% endblock content %}
    </main>
    <footer class="footer">
        <ul class="hrefs_to_other_pages">
            <li><a href="/">Домой</a></li>
            <li><a href="/list">Список</a></li>
            <li><a href="/export">Экспорт</a></li>
            <form action="/upload" method="post"><button type="submit">Upload</button></form>
            <li><a href="/visualization">Визуализация</a></li>
        </ul>
    </footer>
</body>
<script src="static/js/functions.js"></script>
</html>
