{% extends 'base.html' %}

{% block content %}
    <form action="/edit/{{todo.id}}" method="post">
        <div class="task">
        <h2>Заголовок задачи</h2>
        </div>
        <textarea name="title" rows="3">{{todo.title}}</textarea>
        <textarea name="details" rows="5">{{todo.details}}</textarea>
        <label for="completed">Выполнено?</label>
        <input type="checkbox" name="completed" {% if todo.completed %}checked{% endif %}>
        <select name="fullname" id="fullname">
            {% for fullname in fullnames %}
                <option value="{{fullname.value}}" {% if todo.fullname == fullname.value %} selected {% endif %}>
                    {{fullname.value}}</option>
            {% endfor %}
        </select>
        <div>
        <span style="color:green;">Дата создания: {{todo.date_creation}}</span>
        </div>
        {% if todo.completed == True %}
            <span style="color:green;">Дата выполнения: {{todo.date_completion}}</span>
        {% endif %}
        <button type="submit">Сохранить</button>
    </form>
    {% if image == True %}
    <br>
    <img
    style="width:100%;"
    src="/static/media/{{picture_name}}"
    alt="Picture" />
    {% endif %}
        <form action="/load_image" method="post" enctype="multipart/form-data" style="">
            <input placeholder="picture.png" type="file" id="file_input" name="file_input" accept=".png"
                   style="margin-bottom: 10px">
            <button type="submit">Загрузить</button>
        </form>
    <a href="/list?type={{ todo.type }}">{{ todo.type }}</a>

{% endblock content %}
