{% extends 'base.html' %}

{% block content %}
    <form action="/edit/{{todo.id}}" method="post">
        <div class="task">
        <h2>Заголовок задачи</h2>
        </div>
        <textarea name="title" rows="3">{{todo.title}}</textarea>
        <textarea name="details" rows="5">{{todo.details}}</textarea>
        <label for="completed">Выполнено?</label>
        <input type="checkbox" name="completed" {% if todo.completed %}checked{% endif %}>
        <select name="fullname" id="fullname">
            {% for fullname in fullnames %}
                <option value="{{fullname.value}}" {% if todo.fullname == fullname.value %} selected {% endif %}>
                    {{fullname.value}}</option>
            {% endfor %}
        </select>
        <div>
        <span style="color:green;">Дата создания :{{todo.date_creation}}</span>
        </div>
        {% if todo.date_completion != "-1" %}
                    <span style="color:green;">Дата выполнения :{{todo.date_completion}}</span>
        {% endif %}
        <button type="submit">Сохранить</button>
    </form>
{% endblock content %}
