{% extends 'base.html' %}

{% block content %}

    <form action="/add" method="post">
        <textarea name="title" rows="2" placeholder="Введите название задачи"></textarea><br></br>
        <textarea name="details" rows="5" placeholder="Введите задачу"> </textarea>
        <select name="type" id="type">
            {% for type in types %}
                <option value="{{type.value}}">{{type.value}}</option>
            {% endfor %}
        </select>
        <select name="fullname" id="fullname">
            {% for fullname in fullnames %}
                <option value="{{fullname.value}}">{{fullname.value}}</option>
            {% endfor %}
        </select>
        <button type="submit">Добавить</button>
    </form>


    <div style="margin: 20px">
        <span>Генерация задач</span>
        <input type="text" id="todo_count">
        <input type="button" value="Сгенирировать" onclick="generation(document.getElementById('todo_count').value)">
    </div>

    <div>
        <span>Количество выполненых задач:</span>
        <br>
        <span>2021-3-26-cha: {{cha}}</span>
        <br>
        <span>2021-3-04-zva: {{zva}}</span>
        <br>
        <span>2021-3-12-pro: {{pro}}</span>
    </div>

{% endblock content %}
