{% extends 'base.html' %}

{% block content %}

    <form action="/add" method="post">
        <textarea name="title" rows="2" placeholder="Введите название задачи"></textarea><br></br>
        <textarea name="details" rows="5" placeholder="Введите задачу"> </textarea>
        <select name="type" id="type">
            {% for type in types %}
                <option value="{{type.value}}">{{type.value}}</option>
            {% endfor %}
        </select>
        <button type="submit">Добавить</button>
    </form>

    <br>
    <h2>Задачи</h2>
    <div>
        {% for todo in todos %}
            <div class="title">
                {% if todo.completed %}
                    <strike>{{ todo.title }}</strike>
                {% else %}
                    {{ todo.title }}
                {% endif %}
                <span style="color:green;">{{todo.type}}</span>
                <input type="checkbox" name="completed" onchange="change_status({{todo.id}})" {% if todo.completed %}checked{% endif %}>
                <small>
                    <form style="display:inline;" class="form_inline" action="edit/{{ todo.id }}" method="get">
                        <input type="submit" onclick="delete" value="Редактировать">
                    </form>
                    <form style="display:inline;" action="/delete/{{todo.id}}" method="post">
                        <input type="submit" value="Удалить">
                    </form>
                </small>
            </div>
        {% endfor %}
    </div>
    <div>
        {% if count_pages != 0 %}
            {% for i in range(count_pages) %}
                <a rel={{ i }} {% if i == skip %}style="color:green;"{% endif %}
                    href="/?limit={{ limit }}&skip={{ i }}">{{ i }}</a>
            {% endfor %}
        {% endif %}
    </div>
{% endblock content %}
