{% extends 'base.html' %}

{% block content %}
    <form action="/export" method="get" class="export-form">
        <button type="submit" class="button">Экспорт</button>
    </form>

    <div class="hr-divider"></div>
    <div class="index_form">
        <form action="/upload" method="post" enctype="multipart/form-data" style="text-align: center">
            <input placeholder="Export.xlsx" type="file" id="file_input" name="file_input" accept=".xlsx"
                   style="margin-bottom: 10px">
            <br>
            <button type="submit">Импорт</button>
        </form>
    </div>
{% endblock content %}
