{% extends 'base.html' %}

{% block content %}

 <br>
    <h2 style="margin-left: 40px">Задачи</h2>
    <div>
        {% for todo in todos %}
            <div class="title">
                {% if todo.completed %}
                    <strike>{{ todo.title }}</strike>
                {% else %}
                    {{ todo.title }}
                {% endif %}
                <small>
                    <form style="display:inline;" class="form_inline" action="visualize/{{ todo.id }}" method="get">
                        <button type="submit">Visualize</button>
                    </form>
                </small>
                <br>
                <span style="color:green;">Дата создания :{{todo.date_creation}}</span>
                <br>
            </div>
        <br>
        {% endfor %}
    </div>
    <div>
        {% if count_pages != 0 %}
            {% for i in range(count_pages) %}
                <a rel={{ i }} {% if i == skip %}style="color:green;"{% endif %}
                    href="/visualization?limit={{ limit }}&skip={{ i }}">{{ i }}</a>
            {% endfor %}
        {% endif %}
    </div>

{% endblock content %}